.picker_frame-vert {
  max-width: 426px;
//   margin-left: 34px;
  flex: 1;
  @media (max-width: 768px) {
    max-width: unset;
  }
}

.picker {
  border: 3px solid #eb6326;
  box-shadow: 0 7px 20px 0 #e2eeff;
  width: 100%;
  border-radius: 5px;
}

.picker_head {
  position: relative;
  display: flex;
  padding: 18px 22px;
  justify-content: center;
  width: 100%;
}

.picker_quick-btn {
  margin: 0 auto;
  height: 32px;
  width: 114px;
}

.picker_done {
  margin: 0 auto;
  height: 32px;
  width: 32px;
  border-radius: 100%;
  background-color: #31ce03;
  background-image: url("./assets/NumberPicker/icon/check.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 15px 15px;
}

.picker_clear-btn {
  cursor: pointer;
  position: absolute;
  right: 22px;
  box-shadow: 0 0 5px 0 #d6dbea;
  background-color: #ffffff;
  border-radius: 3px;
  border: none;
  height: 32px;
  width: 32px;
  background-image: url("./assets/NumberPicker/icon/icon_trash.png");
  background-position: center;
  background-size: 15px 15px;
  background-repeat: no-repeat;
  transition: box-shadow 0.3s;
  &:hover,
  &:focus {
    box-shadow: 0 0 5px 2px #d6dbea;
    outline: none;
  }
}

.picker_nums {
  border-top: 1px solid #f6b192;
  padding: 13px 15px 20px 22px;
  background-color: rgba(246, 177, 146, 0.22);
}

.picker_nums_title {
  color: #eb6326;
  font-family: Poppins;
  font-size: 16px;
  font-weight: 600;
  line-height: 21px;
  text-align: center;
}

.picker_nums_subwrap {
  margin-top: 8px;
  display: flex;
  margin-left: -8px;
  flex-wrap: wrap;
}

.picker_nums_num {
  margin-top: 7px;
  margin-left: 8px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 25px;
  width: 25px;
  border: 2px solid #f6b192;
  border-radius: 5px;
  background-color: #ffffff;
  box-shadow: 1px 1px 1px 0 rgba(0, 0, 0, 0.1), 0 0 23px 0 rgba(212, 219, 245, 0.47);
  color: #eb6326;
  font-size: 14px;
  font-weight: 500;
  &:hover {
    border: 2px solid #eb6326;
  }
  &.-picked {
    background-color: #f08b5c;
    border-color: #f08b5c;
    color: white;
  }
}

.picker_bonus {
  position: relative;
  border-top: 1px solid #f6b192;
  padding: 20px 13px 21px 20px;
  background-color: rgba(246, 177, 146, 0.53);
  &::before {
    content: "";
    position: absolute;
    top: -10px;
    left: calc(50% - 10px);
    height: 19px;
    width: 19px;
    background-image: url("./assets/NumberPicker/icon/icon_star-small.png");
  }
}

.picker_bonus_subwrap {
  margin-top: 7px;
  display: flex;
  flex-wrap: wrap;
  margin-left: -1px;
}

.picker_bonus_num {
  margin-top: 5px;
  margin-left: 1px;
  cursor: pointer;
  font-size: 14px;
  line-height: 18px;
  font-weight: 500;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 30px;
  width: 32px;
  background-image: url("./assets/NumberPicker/icon/icon_star-big.png");
  background-position: center top;
  background-size: 31px 30px;
  background-repeat: no-repeat;
  color: #eb6326;

  &:hover {
    font-size: 16px;
  }

  &.-picked {
    background-image: url("./assets/NumberPicker/icon/icon_star-fill.png");
    color: white;
  }
}

@import "./NumberPickerMobile.scss";
