.headerWrapper {

  &--hidden {
    display: none;
  }
}

.header {
  position: relative;
  width: 100%;
  height: 287px;
  background-repeat: no-repeat;
  background-size: cover;
  //   background-position-x: 110px;
  .cont-zone {
    position: relative;
    z-index: 1;
    height: 100%;
  }
}

.header_people {
  position: absolute;
  top: 0;
  right: 0;
  height: 287px;
  @media(max-width: 1450px) {
	  display: none;
  }
}

.header_title {
  margin-left: 57px;
  font-size: 35px;
  line-height: 57px;
  color: white;
  font-weight: 400;
  &.-with-logo {
    padding-top: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    img {
      margin: 0 28px 0 18px;
      height: 100px;
	  width: 100px;
	  &[src$="euromillions.png"] {
		border-radius: 100%;
		box-shadow: 0 0 30px 15px rgba(255,255,255,0.6);
	  }
    }
  }
  span {
    margin: 0 10px;
    font-size: 44px;
    font-weight: 600;
    line-height: 50px;
  }
}

.header_jackpot {
  margin-left: 38px;
  padding-top: 20px;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.header_jackpot_symbol {
  height: 75px;

  &.-dot {
    margin-left: -5px;
    margin-right: 3px;
    height: 15px;
  }
  &.-currency {
    margin-right: 10px;
  }
  &.-first-letter {
    margin-left: 35px;
  }
  &.-number:not(:last-child) {
    margin-right: 5px;
  }
  &.-number + &.-currency {
	  margin-right: 0;
  }

  &.-number[alt="7"] + &.-dot {
    margin-left: -10px;
  }
  &.-number[alt="1"] + &.-dot, &.-number[alt="2"] + &.-dot {
	margin-left: 0;	
  }
}

.mob-header {
  background-size: cover;
  background-repeat: no-repeat;
  .cont-zone {
    padding: 0 8px 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
  }
}

.mob-header_logo {
  margin-top: 18px;
  height: 60px;
  width: 60px;
}

.mob-header_title {
  margin-top: 10px;
  font-size: 16px;
  line-height: 26px;
  font-weight: 400;
  span {
    text-transform: uppercase;
    font-size: 22px;
    line-height: 26px;
    font-weight: 500;
  }
}

.mob-header_jackpot {
  margin-top: 12px;
  margin-left: -6px;
  font-size: 28px;
  line-height: 18px;
}

.numbers-widget {
  padding: 0 7px;
  margin-top: 20px;
  height: 50px;
  max-width: 320px;
  width: 100%;
  background-color: white;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  & + .numbers-widget {
    margin-top: 8px;
  }
}

.numbers-widget_circle {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 28px;
  height: 28px;
  border-radius: 100%;
  color: black;
  font-size: 11px;
  line-height: 14px;
  background-size: cover;
  background-repeat: no-repeat;
  flex-shrink: 1;
  &:not(:last-of-type) {
    margin-right: 2px;
  }
  &.-num-circle {
    background-color: #e4e6f4;
    &.-filled {
      box-shadow: 1px 5px 10px 0 rgba(57, 119, 202, 0.15), 0 0 60px 0 #f6efff;
    }
  }
  &.-bonus-circle {
    background-color: #afb6d2;
    &.-filled {
      box-shadow: 1px 5px 10px 0 rgba(57, 119, 202, 0.15), 0 0 60px 0 #f6efff;
    }
  }
}

.numbers-widget.-theme_blue-yellow {
  .-num-circle.-filled {
    background-image: url("./assets/Header/icons/ball_blue.png");
  }
  .-bonus-circle.-filled {
    background-image: url("./assets/Header/icons/ball_yellow.png");
  }
}

.numbers-widget.-theme_yellow-red {
  .-num-circle.-filled {
    background-image: url("./assets/Header/icons/ball_yellow.png");
  }
  .-bonus-circle.-filled {
    background-image: url("./assets/Header/icons/ball_red.png");
  }
}

.numbers-widget.-theme_red-yellow {
  .-num-circle.-filled {
    background-image: url("./assets/Header/icons/ball_red.png");
  }
  .-bonus-circle.-filled {
    background-image: url("./assets/Header/icons/ball_yellow.png");
  }
}

.numbers-widget.-theme_green {
  .-num-circle.-filled {
    background-image: url("./assets/Header/icons/ball_green.png");
  }
  .-bonus-circle.-filled {
    background-image: url("./assets/Header/icons/ball_green.png");
  }
}

.numbers-widget_btn {
  cursor: pointer;
  height: 20px;
  width: 20px;
  background-color: transparent;
  background-repeat: no-repeat;
  background-size: contain;
  border: none;
  flex-shrink: 0;
  &.-edit-btn {
    margin-left: 19px;
    background-image: url("./assets/Header/icons/edit.png");
  }
  &.-clear-btn {
    margin-left: 11px;
    background-image: url("./assets/NumberPicker/icon/icon_trash.png");
  }
}

.numbers-widget_text {
  width: 21px;
  margin-left: 5px;
  margin-right: 8px;
  font-size: 10px;
  font-weight: 400;
  line-height: 16px;
  color: #afb6d2;
  text-transform: uppercase;
}


/* ------------ SCRATCHCARDS HEADER ---------------------- */

.header-scratch {
  position: relative;
  width: 100%;
  height: 900px;
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
}
.logo-scratch {
width: 106px;
display: block;
margin: 0 auto;
padding-top: 32px;
padding-bottom: 32px;
}
.scrath-text p {
/* Style for "JINNI’S SC" */
background: linear-gradient(180deg, #fffefc 0%, #fbe8cb 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
color: #fccf92;
font-family: Poppins;
font-size: 18px;
font-weight: 700;
line-height: 52px;
text-transform: uppercase;
text-align: center;
}
.title-scratch p{
/* Style for "9 GAMES AT" */
background: linear-gradient(180deg, #ffffff 0%, #fcf8d2 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
color: #ffffff;
font-family: Poppins;
font-size: 44px;
font-weight: 700;
line-height: 35px;
text-transform: uppercase;
text-align: center;
margin: 23px 0 23px 0;
}
.under-title-text p {
  background: linear-gradient(180deg, #ffffff 0%, #fcf8d2 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
color: #ffffff;
font-family: "Poppins";
font-size: 20px;
font-weight: 500;
line-height: 30px;
padding-bottom: 17px;

}
.under-title-text p {
  text-align: center;

}

.under-title-text span {
/* Text style for "€100.000" */
font-family: Poppins;
font-weight: 700;
}
.scratch-price {
display: flex;
flex-direction: row;
-ms-align-items: center;
align-items: center;
justify-content: center;
}

.curent-price {
  margin-left: 30px;
}


.scratch-price  .text {
color: #ffffff;
font-family: Poppins;
font-size: 20px;
font-weight: 400;
/* Text style for "was" */
letter-spacing: -0.3px;
text-align: center;
}
.old-preice .price {
/* Style for "€21.00" */

color: #ffffff;
font-family: Poppins;
font-size: 26px;
font-weight: 400;
text-decoration: line-through;
}

.curent-price .price {
  /* Style for "€8.00" */
  background: linear-gradient(180deg, #ffffff 0%, #fcf8d2 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
color: #ffffff;
font-family: Poppins;
font-size: 34px;
font-weight: 700;
line-height: 35px;
text-transform: uppercase;
}

.scratch-button a {
color: #ffffff;
font-family: "Poppins";
font-size: 22px;
font-weight: 600;
text-transform: uppercase;
text-align: center;
width: 252px;
border-radius: 30px;
background-color: #46cf00;
display: block;
margin: 30px auto;
text-decoration: none;
padding:13px 0 13px 0;
}

.scratch-tickets {
width: 750px;
display: block;
margin: 0 auto;
}

.ticket:nth-child(1) {
  transform: rotate(340deg);
  top: 350px;
  position: relative;
  left: 20px;
}


.ticket:nth-child(2) {
  transform: rotate(357deg);
  top: 378px;
  left: 180px;
  position: relative;
}

.ticket:nth-child(3)  {
  transform: rotate(375deg);
  top: 450px;
  left: 320px;
  position: relative;
}

.ticket-item img{
 position: absolute;
 bottom: 30px;
 transform: rotate(70deg);
 transform-origin: center center;
}

@media (max-width: 767px){
  .title-scratch p {
    font-size: 30px;
  }
  .under-title-text p {
    font-size: 16px;
  }

  .scratch-tickets {
    display: block;
    margin: 0 auto;
    width: 450px;
  }

  .ticket:nth-child(1) {
    transform: rotate(340deg) scale(0.8);
    top: 390px;
    position: relative;
    left: 0px;
  }


  .ticket:nth-child(2) {
    transform: rotate(357deg) scale(0.8);
    top: 380px;
    left: 10px;
    position: relative;
  }

  .ticket:nth-child(3)  {
    transform: rotate(375deg) scale(0.8);
    top: 387px;
    left: 40px;
    position: relative;
  }

}
@media (max-width: 450px){
  .title-scratch p {
    font-size: 30px;
  }
  .under-title-text p {
    font-size: 16px;
  }

  .scratch-tickets {
    display: block;
    margin: 0 auto;
    //width: 320px;
  }

  .ticket:nth-child(1) {
    transform: rotate(340deg) scale(0.6);
    top: 350px;
    position: relative;
    left: 0px;
  }


  .ticket:nth-child(2) {
    transform: rotate(357deg) scale(0.6);
    top: 340px;
    left: 10px;
    position: relative;
  }

  .ticket:nth-child(3)  {
    transform: rotate(375deg) scale(0.6);
    top: 347px;
    left: 40px;
    position: relative;
  }

}

@media (max-width: 412px){
  .scratch-tickets {
    position: relative;
    left: -5%;
  }
}

@media (max-width: 376px){
  .scratch-tickets {
    position: relative;
    left: -10%;
  }
}
@media (max-width: 361px){
  .scratch-tickets {
    position: relative;
    left: -13%;
  }
}

@media (max-width: 321px){
  .scratch-tickets {
    position: relative;
    left: -20%;
  }
}