.header {
  position: relative;
  width: 100%;
  height: 287px;
  background-repeat: no-repeat;
  background-size: cover;
  //   background-position-x: 110px;
  .cont-zone {
    position: relative;
    z-index: 1;
	height: 100%;
  }
}

.header_people {
  position: absolute;
  top: 0;
  right: 9%;
  height: 287px;
}

.header_title {
  margin-left: 57px;
  font-size: 35px;
  line-height: 57px;
  color: white;
  font-weight: 400;
  &.-with-logo {
    padding-top: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    img {
      margin: 0 28px 0 18px;
      height: 100px;
      width: 100px;
    }
  }
  span {
    margin-left: 10px;
    font-size: 44px;
    font-weight: 600;
    line-height: 50px;
  }
}

.header_jackpot {
	margin-left: 38px;
  padding-top: 20px;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.header_jackpot_symbol {
  height: 75px;

  &.-dot {
    margin-left: -7px;
    margin-right: 3px;
    height: 15px;
    transform: translateY(10px);
  }
  &.-currency {
    margin-right: 20px;
  }
  &.-first-letter {
    margin-left: 20px;
  }
  &.-number:not(:last-child) {
    margin-right: 5px;
  }
}

.mob-header {
  background-size: cover;
  background-repeat: no-repeat;
  .cont-zone {
    padding: 0 8px 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
  }
}

.mob-header_logo {
  margin-top: 18px;
  height: 60px;
  width: 60px;
}

.mob-header_title {
  margin-top: 10px;
  font-size: 16px;
  line-height: 26px;
  font-weight: 400;
  span {
    text-transform: uppercase;
    font-size: 22px;
    line-height: 26px;
    font-weight: 500;
  }
}

.mob-header_jackpot {
  margin-top: 12px;
  margin-left: -6px;
  font-size: 28px;
  line-height: 18px;
}

.numbers-widget {
  padding: 0 7px;
  margin-top: 20px;
  height: 50px;
  max-width: 305px;
  width: 100%;
  background-color: white;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.numbers-widget_circle {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 28px;
  height: 28px;
  border-radius: 100%;
  color: black;
  font-size: 11px;
  line-height: 14px;
  background-size: cover;
  background-repeat: no-repeat;
  flex-shrink: 1;
  &:not(:last-of-type) {
    margin-right: 2px;
  }
  &.-num-circle {
    background-color: #e4e6f4;
    &.-filled {
      box-shadow: 1px 5px 10px 0 rgba(57, 119, 202, 0.15), 0 0 60px 0 #f6efff;
    }
  }
  &.-bonus-circle {
    background-color: #afb6d2;
    &.-filled {
      box-shadow: 1px 5px 10px 0 rgba(57, 119, 202, 0.15), 0 0 60px 0 #f6efff;
    }
  }
}

.numbers-widget.-theme_blue-yellow  {
	.-num-circle.-filled {
		background-image: url("./assets/Header/icons/ball_blue.png");
	}
	.-bonus-circle.-filled {
		background-image: url("./assets/Header/icons/ball_yellow.png");
	}
}

.numbers-widget.-theme_yellow-red  {
	.-num-circle.-filled {
		background-image: url("./assets/Header/icons/ball_yellow.png");
	}
	.-bonus-circle.-filled {
		background-image: url("./assets/Header/icons/ball_red.png");
	}
}

.numbers-widget_btn {
  cursor: pointer;
  height: 20px;
  width: 20px;
  background-color: transparent;
  background-repeat: no-repeat;
  background-size: contain;
  border: none;
  flex-shrink: 0;
  &.-edit-btn {
    margin-left: 19px;
    background-image: url("./assets/Header/icons/edit.png");
  }
  &.-clear-btn {
    margin-left: 11px;
    background-image: url("./assets/NumberPicker/icon/icon_trash.png");
  }
}
