.help {
	margin-top: 72px;
	@media(max-width:768px) {
		margin-top: 0;
	}
}

.help_title {
	margin-left: 15px;
    font-size: 35px;
    line-height: 53px;
	text-align: center;
	@media(max-width: 768px) {
		margin-left: 0;
		font-size: 16px;
		line-height: 25px;
		font-weight: 600;
	}  
}

.help_subwrap {
    display: flex;
	justify-content: space-between;
	@media(max-width: 768px) {
		flex-direction: column;
		align-items: center;
	}
}

.help_arrow {
	transform: translateY(-15%);
	@media(max-width: 768px) {
		display: none;
	}
}

.help_step {
    margin-top: 41px;
    max-width: 357px;
    display: flex;
    flex-direction: column;
    align-items: center;
	text-align: center;
	@media(max-width: 768px) {
		margin-top: 20px;
		max-width: 260px;
		&:not(:first-child) {
			margin-top: 42px;
		}
	}
}

.help_step_title {
    margin-top: 26px;
    text-transform: uppercase;
    font-size: 22px;
	line-height: 33px;
	@media(max-width: 768px) {
		margin-top: 24px;
		font-size: 16px;
		line-height: 18px;
		text-transform: none;
	}
}

.help_step_icon {
	margin-top: 7px;
	@media (max-width: 768px) {
		height: 102px;
		width: 102px;
	}
}

.help_step_text {
    margin-top: 14px;
    font-size: 16px;
	line-height: 25px;
	@media(max-width: 768px) {
		margin-top: 8px;
		font-size: 14px;
		line-break: 22px;
		line-height: 22px;
		letter-spacing: 0.5px;
	}
}

.help_timer {
	@media(max-width: 768px) {
		font-weight: 500;
	}
}