.form_frame-vert {
  margin-left: 30px;
  padding-left: 30px;
  padding-right: 30px;
  flex: 1;
  @media (max-width: 768px) {
    padding-left: 15px;
    padding-right: 15px;
    margin-left: 15px;
  }
}

.form {
  @media (max-width: 768px) {
    display: flex;
    flex-direction: column;
  }
}

.form_row {
  margin-top: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.form_row_title {
  margin-right: 33px;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  max-width: 120px;
  flex: 1;
  @media (max-width: 768px) {
    display: none;
  }
}

.form_row_subwrap {
  display: flex;
  flex: 1;
  margin-left: -10px;
}

.form_back-btn {
  height: 50px;
  width: 120px;
  margin-right: auto;
  font-size: 16px;
  font-weight: bold;
  line-height: 26px;
  @media(max-width:768px) {
	  display: none;
  }
}

.form_back-btn-mobile {
	cursor: pointer;
	display: block;
	align-self: center;
	transform: translateY(50%);
	width: 19px;
	height: 18px;
	background-image: url("./assets/RegisterForm/icons/back-arrow_btn.svg");
	background-color: transparent;
	background-repeat: no-repeat;
	background-size: contain;
	border: none;
}

.form_submit-btn {
  display: block;
  margin-left: auto;
  height: 50px;
  width: 180px;
  font-size: 16px;
  font-weight: bold;
  line-height: 26px;
  @media (max-width: 768px) {
    margin: 20px auto 0;
  }
}

.form_confirm-btn {
  margin-top: 25px;
  @media (max-width: 768px) {
    margin: 20px auto 0;
  }
}

.form_btn_wrap {
  @media (max-width: 768px) {
    padding-top: 20px;
  }
  &:before {
    content: "";
    display: block;
    background-color: #d7e7ff;
    height: 1px;
    width: 100%;
  }
}

.inpwi_wrap {
  flex: 1;
  margin-left: 10px;
}

.inpwi {
  height: 50px;
  width: 100%;
  padding-left: calc(20px + 32px);
  font-size: 14px;
  line-height: 21px;
  background-repeat: no-repeat;
  background-position: 17px center;
  box-shadow: 1px 1px 1px 0 rgba(0, 0, 0, 0.1), 0 2px 10px 0 rgba(127, 177, 223, 0.1);
  border: 1px solid #d4dfec;
  border-radius: 5px;
  font-family: "Poppins";
  &.-no-icon {
    padding-left: 4%;
  }
  &:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 100px white inset;
    box-shadow: 0 0 0 100px white inset;
  }
  &.-error {
    border-color: #fa3232;
  }
  @media (max-width: 768px) {
    background-position: 10px center;
    padding-left: calc(20px + 22px);
    &.-no-icon {
      padding-left: 10%;
    }
  }
}

.inpwi_error-text {
  margin-top: 4px;
  color: #fa3232;
  font-size: 12px;
  line-height: 16px;
  display: flex;
  align-items: center;
  &:before {
    content: "";
    display: block;
    height: 7px;
    width: 7px;
    flex-shrink: 0;
    background-image: url("./assets/RegisterForm/icons/icon_error.png");
    background-size: contain;
    background-repeat: no-repeat;
    margin-right: 10px;
  }
}

.selwi_wrap {
  margin-left: 10px;
  cursor: pointer;
  position: relative;
  flex: 1;
}

.selwi_value {
  position: relative;
  display: flex;
  align-items: center;
  height: 50px;
  width: 100%;
  padding-left: 17px;
  font-size: 14px;
  line-height: 21px;
  border-radius: 5px;
  box-shadow: 1px 1px 1px 0 rgba(0, 0, 0, 0.1), 0 2px 10px 0 rgba(127, 177, 223, 0.1);
  border: 1px solid #d4dfec;
  &.-icon {
    padding-left: calc(20px + 32px);
    background-repeat: no-repeat;
    background-position: 17px center;
  }
  &.-flag-icon {
    padding-left: calc(20px + 32px);
    &:before {
      content: "";
      position: absolute;
      left: 17px;
    }
  }
  &:after {
    content: "";
    position: absolute;
    right: 15px;
    top: 22px;
    display: block;
    width: 13px;
    height: 8px;
    background-image: url("./assets/RegisterForm/icons/down-arrow.png");
    background-size: contain;
    background-repeat: no-repeat;
  }
  @media (max-width: 768px) {
    padding-left: 10px;
    &.-icon {
      padding-left: calc(20px + 22px);
      background-position: 10px center;
    }
  }
  &.-flag-icon {
    padding-left: calc(20px + 22px);
    &:before {
      content: "";
      position: absolute;
      left: 12px;
    }
  }
}

.selwi_filter-input {
  display: none;
  position: absolute;
  z-index: 8;
  top: calc(100% - 1px);
  left: 0;
  right: 0;
  background-color: white;
  input {
    padding: 5px 0 5px 17px;
    height: 40px;
    width: 100%;
    border: 1px solid #d4dfec;
    font-family: "Poppins";
    outline: none;
    background-color: white;
  }
}

.selwi_options {
  display: none;
  position: absolute;
  top: 89px;
  left: 0;
  right: 0;
  z-index: 3;
  background-color: white;
  box-shadow: 1px 1px 1px 0 rgba(0, 0, 0, 0.1), 0 2px 10px 0 rgba(127, 177, 223, 0.1);
  border: 1px solid #d4dfec;
  border-top-width: 0;
  border-radius: 0 0 5px 5px;
  max-height: 250px;
  overflow-y: auto;
  li {
    cursor: pointer;
    min-height: 40px;
    display: flex;
    align-items: center;
    padding: 5px 0 5px 17px;
    transition: background-color 0.3s;
    &:not(:last-child) {
      border-bottom: 1px solid #d4dfec;
    }
    &:hover {
      background-color: #efefef;
    }
    &.-flag-icon {
      position: relative;
      padding-left: calc(20px + 32px);
      &:before {
        content: "";
        position: absolute;
        left: 17px;
      }
    }
  }
}

.selwi_wrap.-open {
  .selwi_value {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
  }
  .selwi_options,
  .selwi_filter-input {
    display: block;
  }
}

.select-title {
  max-width: 113px;
  flex: 1;
  .selwi_value {
    border-radius: 5px 0 0 5px;
  }
  & + .inpwi_wrap {
    margin-left: 0;
    .inpwi {
      border-radius: 0 5px 5px 0;
    }
  }
  .selwi_value {
    border-right-width: 0;
  }
}

.select-phone-code {
  max-width: 130px;
  flex: 1;
}

.form_jinni {
  margin: 24px auto 0;
  width: 120px;
  p {
    margin-top: 20px;
    font-size: 18px;
    font-weight: 500;
    line-height: 18px;
    text-align: center;
  }
  @media (max-width: 768px) {
    display: none;
  }
}

.form_terms {
  margin-top: 30px;
  border-top: 1px solid #d7e7ff;
  padding-top: 25px;
  display: flex;
  & > p {
    color: #97a5b8;
    font-size: 12px;
    line-height: 16px;
    a {
      color: #46cf00;
      transform: color 0.3s;
      &:hover {
        color: #2cb703;
      }
    }
  }
  @media (max-width: 768px) {
    margin-top: 20px;
    & > p {
      font-size: 11px;
      line-height: 20px;
      a {
        text-decoration: none;
      }
    }
  }
}

.form_terms_checkbox {
  margin-top: 5px;
  margin-right: 14px;

  & > input {
    display: none;
  }

  & > label {
    cursor: pointer;
    display: block;
    height: 22px;
    width: 22px;
    border-radius: 2px;
    border: 1px solid #31ce03;
  }
  & > input:checked + label {
    background-color: #31ce03;
    background-image: url("./assets/RegisterForm/icons/check.png");
    background-repeat: no-repeat;
    background-position: center;
  }

  @media (max-width: 768px) {
    margin-top: 0;
  }
}

.form_step2_bottom {
  margin-top: 25px;
  display: flex;
  flex-wrap: wrap;
  .form_submit-btn {
    flex-shrink: 0;
  }
  @media (max-width: 768px) {
	order: 2;
	border-top: 1px solid #D7E7FF;
  }
}

.form_step2_bottom_error {
  margin-top: 30px;
  align-items: center;
  color: #fa3232;
  font-size: 12px;
  line-height: 16px;
  width: 100%;
  display: none;
  &:before {
    content: "";
    display: block;
    height: 7px;
    width: 7px;
    flex-shrink: 0;
    background-image: url("./assets/RegisterForm/icons/icon_error.png");
    background-size: contain;
    background-repeat: no-repeat;
    margin-right: 10px;
  }
  &.-shown {
    display: flex;
  }
}
