.top-bar {
  background-color: white;
  .cont-zone {
	display: flex;
	align-items: center;
    height: 86px;
  }
  @media (max-width: 768px) {
    .cont-zone {
	  height: 50px;
	  justify-content: center;	  
    }
  }
}

.top-bar_logo {
//   margin-top: 15px;
  @media (max-width: 768px) {
    // margin-top: 9px;
    height: 32px;
  }
}
