@import url("https://fonts.googleapis.com/css?family=Poppins:400,500&amp;subset=latin-ext");

body {
    font-family: "Poppins";
}

h1,h2,h3,h4,h5 {
    font-weight: 500;
}

.cont-zone {
    max-width: 1140px;
    margin: 0 auto;
}