@import url("https://fonts.googleapis.com/css?family=Poppins:400,500&amp;subset=latin-ext");

body {
    font-family: "Poppins";
}

h1,h2,h3,h4,h5 {
    font-weight: 500;
}

.cont-zone {
    max-width: 1140px;
    margin: 0 auto;
}

.main {
    padding: 28px 0 60px;
    background-image: url("./assets/bg/bg_big.png");
    background-repeat: no-repeat;
    background-size: cover;
}

.main_title {
    font-size: 35px;
    line-height: 53px;
    text-align: center;
    & > u {
        position: relative;
        font-size: 44px;
        font-weight: 400;
        text-decoration: none;
        &::after {
            content: "";
            position: absolute;
            bottom: 5px;
            left: 0;
            right: 0;
            display: block;
            height: 2px;
            background-color: black;
        }
    }
}

.main_subwrap {
    margin: 40px auto 0;
    display: flex;
    max-width: 989px;
}

.frame {
    padding: 30px;
    box-shadow: 0 5px 15px 0 #E2EEFF;
    background-color: white;
    border-radius: 4px;
}

.frame_title {
    margin-bottom: 19px;
    font-size: 22px;
    line-height: 26px;
    min-height: 52px;
    text-align: center;
}

.btn-general {
    cursor: pointer;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 400;
    border: none;    
    line-height: 21px;
    border-radius: 25px; 
    &:hover, &:focus {
        outline:none;
    }
}

.btn-green-empty {
    border: 2px solid #31CE03;
    color: #31CE03;
    background-color: transparent;
    transition: color 0.3s, border-color 0.3s;

    &:hover, &:focus {
        border-color: #2cb703;
        color: #2cb703;
    }
}

.btn-green {
    color:white;
    background-color: #31CE03;    
    transition: background-color 0.3s;            
    &:hover, &:focus {
        background-color: #2cb703;
    }
}